.InputSearch{
    width: calc(80% - 62px);
    height: 64px;

    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

    color: black;
    background: #f9fbfc;
    border: 2px solid #fafafa;
    border-radius: 2px;
    
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    
}


.InputSearch::placeholder{
    color: #a5a5a5;
    font-weight: 400;
}

.InputSearch:focus{
    outline: 4px solid;
    outline-color: #ff595e;
}