.formulario{
    background: white;
    width: 70%;
    height: 50%;

    max-width: 500px;
    min-height: 400px;

    overflow: scroll;
    text-align: center;
    background: #a4133c;

}
.formulario::-webkit-scrollbar{
    display: none;
}

.form-container{
    display: flex;
    flex-direction: column;
}

label{  
    display: inline-block;
    margin-top: 20px;
    font-size: 40px;
    color: #ff595e;
    
}

hr{
    width: 70%;
    border-color: #ff595e;
}

textarea{
    margin: 10px;
    margin-top: 35px;
    font-size: 25px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.buttons{
    margin-top: 35px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    
}

button{
    padding: 15px;

    font-size: 20px;
    border: 1px solid #a4133c;
    border-radius: 3px;

    color: white;
    background: #ff595e;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

button:active{
    color: black;
    border-color: black;
}

